fastapi
uvicorn
redis
requests
openai
tiktoken
langchain
langchain-openai
python-dotenv
postgres
psycopg2-binary
psycopg[binary]
pgvector
langchain-community
unstructured
libmagic
nltk
psutil
pydantic[email]
langgraph
langchain-ollama
sqlmodel
cachetools